*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat;
	text-decoration: none;
}
body{
	font-size: 14pt;
	min-height: 100vh;
/*	background-image: linear-gradient(#F59F16,#F8BA56,#F9CE8A);*/
	background-image: linear-gradient(120deg,#F4FBA2,#FCEF3D);
}
.boxcenter{
	width: 1180px;
	margin: 0 auto;
}
.box100pt{
	float: left;
	width: 100%;
}
.bgyellow{
	background-color: #FBBB0B;
	min-height: 60px;
}
.logo{
	float: left;
	width: 10%;
}
.logo img{
	height: 60px;
	padding: 0px 20px; 
}
a{
	float: right;
	line-height: 60px; /*căn giữa theo chiều cao*/
	color: black;
	padding: 0px 20px; /* 0 trên dưới, 20 trái phải*/
	text-decoration: none;
}
a:hover{
	color: white;
	background-color: #DAB95E;
}
button{
	border: none;
	width: 150px;
	background: #F74E05;
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
}
button:hover{
	color: #fff;
	background-color: black;
}
.login-form{
  width: 450px;
  background: #f1f1f1;
  height: 520px;
  padding: 40px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
}

.login-form h1{
  text-align: center;
  margin-bottom: 0px;
}

.txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 25px 0;
}

.txtb input{
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}

.txtb span::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg,#F4FBA2,#FCEF3D,#F9B303);
  transition: .5s;
}

.logbtn{
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg,#F4FBA2,#FCEF3D,#F9B303);
  background-size: 200%;
  color: #fff;
  font-size: 20px;
  color: black;
  outline: none;
  cursor: pointer;
  transition: .5s;
}

.logbtn:hover{
  background-position: right;
}
.qmkbtn{
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: none;
  background: linear-gradient(120deg,#F4FBA2,#FCEF3D,#F9B303);
  background-size: 200%;
  font-size: 20px;
  color: black;
  outline: none;
  cursor: pointer;
  transition: .5s;
}
.qmkbtn:hover{
  background-position: right;
}
#a1{
	text-align: center;
}
.bottom-text{
  margin-top: 60px;
  text-align: center;
  font-size: 13px;
}
.checkbox{
	text-align: right;
}